/*Body CSS Start*/

body {
    width: 100%;
    height: 1280px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

/*Body CSS End*/

/*Top Bar CSS Start*/

.topbar {
    background: #f0f2f4;
    padding: 1px;
    border-bottom: 2px solid #dadcde;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.top-right {}

.top-content {
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}

.top-content span::after {
    content: "";
    border: 1px solid #dadcde;
    margin-left: 20px;
}

.top-content i {
    font-size: 22px;
}

.fa-mobile-alt {
    padding: 0px 20px;
}


.fa-envelope {
    padding: 0px 20px;

}

.fa-facebook-square {
    padding-left: 20px;
    color: #1287bf;

}


/*Top Bar CSS End*/

/*Header CSS Start*/
.header-bg {
    background: white;
    padding: 30px;
}

.right-content {
    width: 40%;
    float: left;
}

.left-content {}

.navbar {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;

}

.navbar ul {
    float: left;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;


}

.navbar ul li a {
    text-decoration: none;
    color: #424242;

}

.navbar ul li a:hover {
    color: #de2b24;
}

.navbar ul li a i {
    font-size: 8px;
    margin: 0px 10px;
    margin-right: 20px;
}

.consultation-button {
    background: #de2b24;
    color: white;
    text-align: center;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.consultation-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background: #1287bf
}

/*Header CSS End*/


/*Banner CSS Start*/

.banner-area {
    background-image: url(../image/banner-image.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 10px;
    height: 520px;
    position: relative
}

.banner-content {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.banner-content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 0px;
}

.banner-content p {
    font-size: 26px;
}

.banner-button {
    background: #f8cd53;
    color: white;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 10px;
}

.banner-button:hover {
    background-color: transparent;
    color: white;
    border: 4px solid #f8cd53;
}

/*Banner CSS ENd*/

/*About US CSS Start*/


section {
    margin: 100px 0px;
}

.title {
    text-align: center;
    text-transform: capitalize;
    color: #424242;
    margin: 20px 0px;
}

.title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 0px;
    font-weight: 700;
    margin-top: 50px;

}

.title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;

}

.border {
    width: 60px;
    height: 6px;
    background: #424242;
    margin: auto;
    margin-bottom: 50px;
}

.about {
    width: 270px;
    display: inline-block;
    text-align: center;
    margin: 0px 53px;
}

.about-image-01 {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

}


.about-content {
    font-family: 'Open Sans', sans-serif;

}

.about-content h1 {
    text-transform: capitalize;
    color: #424242;
    font-size: 20px;
    font-weight: 700;
}

.about-content p {
    color: #424242;
    font-size: 15px;
}


/*About US CSS End*/

/*Our Approch CSS Start*/
section {
    margin: 100px 0px;
}

.ourapproch-bg {
    background: #f3f3f3;
    text-align: left;
    padding: 20px
}

.ourapproach-01 {
    margin-bottom: 20px;
}

.ourapproch {
    float: left;
    width: 40%;

}

.ourapproch-left {
    float: left;
    width: 40%;
    background: white;
    width: 1140px;
    height: 252px;
    margin-bottom: 10px;
}

.ourapproch-left img {
    position: absolute;
}

.step {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 10px;
    background: #de2b24;
    position: absolute;
    text-align: center;
    color: white;
    margin: 5% 21%;
    font-family: 'Noto Serif', serif;
    line-height: 0px;

}

.step h1 {
    font-size: 40px;
    font-weight: 700;
}

.step p {
    font-size: 21px;
}

.ourapproch-right {
    text-align: left;
}

.ourapproch-content {
    width: 90%;
    padding: 5%;
    color: #424242;
}

.ourapproch-content h1 {
    font-size: 20px;
    font-weight: 700;
}

.ourapproch-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}


/*Our Approch CSS End*/
